<!DOCTYPE html>
<html>

<head>
    <meta name="roomName" content="{{roomName}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Room: {{roomName}}</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
</head>

<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">

  //var socket = io();
  var socket = io.connect();
  var meta = document.querySelector('meta[name=roomName]');
  var roomName = meta.content;

  $(document).ready(function(){

    var nickname = prompt('Enter a nickname: ');
    
    socket.emit('join', meta, nickname, function(messages){
      });

    function changedNickname(){
      socket.on('changedNickname', function(members){
        newNickname = document.getElementById('newUsername').value;
      });
    }

    function sendMessage(){
      var message = document.getElementById('messageField').value;

      socket.on('message', function(nickname, message, time){
        var ul = $('#chats');
        ul.append($('<li></li>').text(res.nickname + ': ' + res.message + ', ' + res.time));
      });
    }


  });

</script>

<body>

  <h1>Welcome to Chatroom {{roomName}}!</h1>
  <h1>Type your Message</h1>

  <div id="changeUsernameContainer">
    <p>Change your username: </p>
      <input type="text" name="message" id="newUsername" value="new name">
      <button value="Send" onclick="changedNickname()">Change</button>
  </div>

  <div id="sendMessageContainer">
      <input type="text" name="message"   id="messageField">
      <button value="Send" onclick="message()">Send</button>
  </div>



  <div>
      <p id="currentUsers"></p>
  </div>

  <div id="allChats">
    <ul id="chats"></ul>
  </div>

</body>

</html>
