<!DOCTYPE html>
<html>

<head>
    <meta name="roomName" content="{{roomName}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Room: {{roomName}}</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
</head>

<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">

  var socket = io.connect();
  var meta = document.querySelector('meta[name=roomName]');
  var roomName = meta.content;
  var usernames = []
  var nickname = null;


$(document).ready(function(){

  nickname = prompt('Enter a nickname: ');

  socket.emit('join', roomName, nickname);

  socket.on('join', function(messages, users){
    for (var i=0; i<messages.length; i++){
      var ul = $('#chats');
      ul.empty();

      var li = $('<li></li>');
      li.html(
        messages[i].nickname + ': ' + messages[i].body + ', ' + messages[i].time
      );

      ul.append(li);
    }

     
    usernames = users;

    // what I need to do is basically create a usernames array
    // that only has usernames, not list of a list
    // then manipulate this list
    
    // var listOfNames = [];
    // for (var i=0; i<usernames.length; i++){ 
    //   listOfNames.push(usernames[i].nickname);
    // }

    var ul = $('#currentUsers');
    ul.empty();

    for (var i=0; i<usernames.length; i++){ 
      ul.append($('<li></li>').text(usernames[i].nickname));
    }

  });

});

  function changedNickname(){
    var oldNickname = nickname;
    newNickname = document.getElementById('newUsername').value;
    // send new nickname to server
    socket.emit('changedNickname', roomName, oldNickname, newNickname);
  }

  function message(){
    var message = document.getElementById('messageField').value;
    socket.emit('message', message);
  }

  socket.on('message', function(nickname, message, time, users){
    console.log(message)
    var ul = $('#chats');
    ul.append($('<li></li>').text(nickname + ': ' + message + ', ' + time));

    usernames = users;

    var ul = $('#currentUsers');
    ul.empty();

    for (var i=0; i<usernames.length; i++){ 
      ul.append($('<li></li>').text(usernames[i].nickname));
    }

  });

  // // handling when new member joins
  // socket.on('newMember', function(nickname){
  //   usernames.push(nickname);
  //   // updateUsersList();
  // });

  // handling when member changes name
  socket.on('changedMember', function(oldNickname, newNickname){

    // for (var i=0; i<usernames.length; i++){ 
    //   if (usernames[i] == oldNickname){
    //     usernames[i] == newNickname;
    //   }
    // }

    var listOfNames = [];
    for (var i=0; i<usernames.length; i++){ 
      listOfNames.push(usernames[i].nickname);
    }

    var toChange = listOfNames.indexOf(oldNickname);
    if (toChange !== -1){
      listOfNames[toChange] = newNickname;
    }

    console.log(listOfNames);

    var ul = $('#currentUsers');
    ul.empty();

    for (var i=0; i<listOfNames.length; i++){ 
      ul.append($('<li></li>').text(listOfNames[i]));
    }
  });

  //   // handling when new member leaves
  // socket.emit('disconnect', nickname, usernames);

  // // handling when new member leaves
  // socket.on('exitMember', function(usernames){

  //   // var toDelete = usernames.indexOf(nickname);
  //   // if (toDelete > -1){
  //   //   usernames.splice(toDelete, 1);
  //   // }

  //   var ul = $('#currentUsers');
  //   ul.empty();

  //   for (var i=0; i<usernames.length; i++){ 
  //     ul.append($('<li></li>').text(usernames[i].nickname));
  //   }

  // });

  function updateUsersList(){

    var ul = $('#currentUsers');
    ul.empty();

    for (var i=0; i<usernames.length; i++){ 
      ul.append($('<li></li>').text(usernames[i].nickname));
    }

  }


</script>

<body>

  <h1>Welcome to Chatroom {{roomName}}!</h1>

  <div id="changeUsernameContainer">
    <p>Change username: </p>
      <input type="text" name="username" id="newUsername" value="new name">
      <button value="Send" onclick="changedNickname()">Change</button>
  </div>

  <div id="sendMessageContainer">
      <p>Send message</p>
      <input type="text" name="message" id="messageField">
      <button value="Send" onclick="message()">Send</button>
  </div>

  <div>
      <p>Active Users:</p>
      <ul id="currentUsers"></ul>
  </div>

  <div id="allChats">
    <p>Messages:</p>
    <ul id="chats"></ul>
  </div>

</body>

</html>
